Flask
Flask-WTF
Flask-Cors
Flask-Login
Flask-Bcrypt
Flask-Limiter
Flask-Caching
Flask-SQLAlchemy
Flask-Mail
Flask-PyMySQL
redis
black
pytest
pydantic
gunicorn
python-dotenv
email-validator
Werkzeug==2.3.7